<a href="https://colab.research.google.com/github/annettembeyu/2020myfirstproject/blob/master/Moringa_Data_Science_Prep_W1_Independent_Project_2020_07_Annette__SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# We will first load the sql extension into our environment
#
%load_ext sql
# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed
#
%sql sqlite://

'Connected: @None'

In [ ]:
# Importing the python libraries that we will need in this notebook
#
import csv
import pandas as pd

In [ ]:
# Display a list of Sub Counties and their population and areas.
# We will load all the other dataset that we will need i.e. WorldCup

with open('Karamoja.csv','r') as f:
    Karamoja = pd.read_csv(f, index_col=0, encoding='utf-8') 
# Then storing it in an SQL table of our in memory sqlite database
#
%sql DROP TABLE if EXISTS Karamoja;
%sql PERSIST Karamoja;

 * sqlite://
Done.
 * sqlite://

'Persisted karamoja'

In [ ]:
# Display a list of Sub Counties and their population and areas
%%sql
SELECT "SUBCOUNTY_NAME", "POP", "Area" FROM Karamoja;

 * sqlite://
Done.

[('KACHERI', 17244, 1067176155),
 ('KOTIDO', 52771, 597575188),
 ('KOTIDO TOWN COUNCIL', 27389, 23972401),
 ('NAKAPERIMORU', 38775, 419111591),
 ('PANYANGARA', 65704, 880955930),
 ('RENGEN', 41273, 652744859),
 ('KAABONG  EAST', 42221, 60801942),
 ('KAABONG TOWN COUNCIL', 38857, 13071455),
 ('KAABONG WEST', 41454, 67612362),
 ('KALAPATA', 99203, 223116860),
 ('KAMION', 60070, 1199409465),
 ('KAPEDO', 33951, 304557831),
 ('KATHILE', 56870, 228457417),
 ('KAWALAKOL', 37691, 1742041261),
 ('LOBALANGIT', 22907, 302572789),
 ('LODIKO', 31820, 397700845),
 ('LOLELIA', 100919, 1069331387),
 ('LOYORO', 16608, 1330019236),
 ('NAPORE (KARENGA)', 20394, 309577387),
 ('SIDOK', 24092, 125330583),
 ('ABIM', 14377, 188613057),
 ('ABIM TOWN COUNCIL', 11489, 115941152),
 ('ALEREK', 12573, 1255760525),
 ('LOTUKEI', 18641, 191684465),
 ('MORULEM', 16834, 250364895),
 ('KARITA', 45015, 658008801),
 ('LOROO', 22541, 371970302),
 ('AMUDAT', 30181, 596393139),
 ('AMUDAT TOWN COUNCIL', 4053, 17207110),
 ('KATIKEKILE', 11772, 277451997),
 ('NADUNGET', 42115, 596023780),
 ('TAPAC', 21999, 622266516),
 ('NORTHERN DIVISION', 7161, 2738777),
 ('SOUTHERN DIVISION', 3272, 2121209),
 ('LOREGAE', 26644, 928683431),
 ('NAKAPIRIPIRIT TOWN COUNCIL', 1418, 4673094),
 ('NAMALU', 25905, 553067364),
 ('KAKOMONGOLE', 15960, 312709097),
 ('LOLACHAT', 22801, 642401705),
 ('LORENGEDWAT', 9929, 435714604),
 ('NABILATUK', 27534, 499776866),
 ('IRIIRI', 46979, 1030623258),
 ('LOPEEI', 18815, 790782350),
 ('LORENGECORA', 2503, 118997955),
 ('LOTOME', 17834, 125857565),
 ('MATANY', 29495, 338252511),
 ('NAPAK TOWN COUNCIL', 8010, 150906375),
 ('NGOLERIET', 20790, 158887552),
 ('NYAKWAE', 16470, 769609687),
 ('LOKOPO', 23200, 1794470536),
 ('RUPA', 41493, 2069554899),
 ('MORUITA', 16588, 839293722)]

In [ ]:
#Sort the list of districts by total crop area (descending order)
%%sql
SELECT "SUBCOUNTY_NAME", "Crop_Area_Ha" FROM Karamoja
GROUP BY DISTRICT_NAME 
ORDER BY SUM (Crop_Area_Ha) DESC

 * sqlite://
Done.

[('RENGEN',),
 ('SIDOK',),
 ('MORUITA',),
 ('LOKOPO',),
 ('RUPA',),
 ('AMUDAT TOWN COUNCIL',),
 ('NYAKWAE',)]